<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
    {% block content %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <title> Kisah Covid </title>
    </head>

    <body>
        <style>
            .pembuka{
                position: relative;
                text-align: center;
            }

            .form-container{
                position: absolute;
                text-align: center;
                margin-left: 50px;
                margin-right: 50px;
            }

            .daftar-cerita{
                position: relative;
                margin-top: 100px;
                margin-right: 80px;
                margin-left: 80px;
                text-align: center;
            }   

            h1 {
                padding-top: 100px;
                font-size: 48px;
                font-weight: 1000;
                background: linear-gradient(90deg, rgba(121,119,180,1) 0%, rgba(155,152,255,1) 38%, rgba(72,217,202,1) 84%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                line-height: 52px;
            }
            .btn-grad {background-image: linear-gradient(to right, #24C6DC 0%, #7977B4  51%, #24C6DC  100%)}
            .btn-grad {
                margin: 10px;
                padding: 10px 30px;
                text-align: center;
                text-transform: uppercase;
                transition: 0.5s;
                background-size: 200% auto;
                color: white;            
                box-shadow: 0 0 20px #eee;
                border-radius: 10px;
                display: block;
            }

            .btn-grad:hover {
                background-position: right center; /* change the direction of the change here */
                color: #fff;
                text-decoration: none;
            }
        </style>
            <div class="container">

                <div class="pembuka">
                    <h1 class="image_box wow fadeInDown" data-wow-delay="100ms" data-wow-duration="1500ms"> Tuliskan kisahmu <br><br></h1>
                </div>

                <div class="card text-white mb-3" style="max-width: 80vw;"> 
                    <div class="card-body" style="background-color: #48D9CA ;">
                        <form action="" method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="centre-items">
                                <input type="submit" class="btn btn-grad" value="Tambahkan Cerita">
                            </div>
                        </form>
                    </div>
                  </div>
                

            <div class="daftar-cerita">
                {% for data in items %}
                  <div class="card bg-light mb-3" style="max-width: 60vw;">
                    <div class="card-header" style="background-color:#48D9CA">{{data.nama}}</div>
                    <div class="card-body" style="background-color: #E5E5E5">
                      <p class="card-text">{{data.cerita}}</p>
                    </div>
                  </div>
                {% endfor %}
            </div>
        </div>
        
    </body>
    {% endblock content %}  
</html>