<!DOCTYPE html>
<html lang="en">

    {% extends 'base.html' %}
    {% load static %}
    {% block content %}
    

   <head>
      <meta charset="utf-8">

      <!-- Responsive -->
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
      <title>Epicmed</title>
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <!---------favicon--------------->
      <link rel="icon" type="image/png" href="{% static 'image/favicon-32x32.png' %}" sizes="32x32">
      <link rel="icon" type="image/png" href="{% static 'image/favicon-16x16.png' %}" sizes="16x16">
      <!---------favicon--------------->
      <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css"> 

   </head>


   
         
         <main class="main-content">
            <!------main-content------>
            <!-------slider--section------>
            <section class="banner type_one" id="home" style="background:url()">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-6 d-flex pr_0">
                        <div class="content_outer">
                           <div class="inner_box">
                              <h6  class="wow slideInDown" data-wow-delay="100ms" data-wow-duration="1500ms">#StayAtHome</h6>
                              <h1  class="wow slideInLeft" data-wow-delay="200ms" data-wow-duration="1500ms">Bersatu Lawan Corona</h1>
                              <p  class="wow slideInRight" data-wow-delay="300ms" data-wow-duration="1500ms">Corona telah menghentikan berbagai aktivitas. Corona telah menelan banyak korban. Indonesia telah mengerahkan garda terdepan yang dipunyai. Mari kita dukung dan bersatu melawan corona.</p>
                              <div class="link_box wow slideInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
                                 <a href="#contactus" class="theme_btn tp_one"> Hotlines </a> <a href="about" class="theme_btn tp_border"><span class="linearicons-arrow-right"></span>About COVID-19</a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-6">
                        <div class="image_box wow fadeInDown" data-wow-delay="100ms" data-wow-duration="1500ms">
                           <img src="{% static 'image/header.png' %}" class="img-fluid" alt="img" />
                        </div>
                     </div>
                  </div>
               </div>
            </section>
            <!-------slider--section-end----->
            <!-----------counter--------------->
            <section class="counter type_one pdt_50 pdb_50" style="background-image: url(../static/image/slider.jpg);">
               <div class="container" style="color:white;" >
                  <div class="row">
                     <!---------row----------->
                     <div class="col-lg-6 col-md-12" >
                        <!---------col----------->
                        <div class="data-area" style="color: white;">
                            <div class="heading white tp_one" style="color:white;">
                            <h6>COVID Tracker</h6>
                            <h1 style="color: white; background-color: white;">Jumlah Kasus</h1>
                            <p>Last update: 15 November 2020, 10:35 pm GMT+7</p>
                            </div>
                        </div>
                        <!---------col-end---------->
                     </div>
                     <div class="col-lg-6 col-md-12 d-flex">
                        <!---------col----------->
                        <div class="counter_box_outer">
                           <div class="row">
                              <div class="col-lg-4">
                                 <div class="counter_box type_one">
                                    <h2><span class="odometer " data-count="467113"></span></h2>
                                    <h6>Kasus Positif</h6>
                                 </div>
                              </div>
                              <div class="col-lg-4">
                                 <div class="counter_box type_one">
                                    <h2><span class="odometer " data-count="391991"></span></h2>
                                    <h6>Kasus Sembuh</h6>
                                 </div>
                              </div>
                              <div class="col-lg-4">
                                 <div class="counter_box type_one">
                                    <h2><span class="odometer " data-count="15211"></span></h2>
                                    <h6>Kasus Meninggal</h6>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!---------col-end---------->
                     </div>
                     <!----------row-end---------->
                  </div>
               </div>
            </section>
            <!-----------counter-end-------------->
            <!-----------about--------------->
            <section class="about type_one pdt_100 pdb_70  wow fadeIn" data-wow-delay="100ms" data-wow-duration="1500ms" id="about">
               <div class="container">
                  <div class="row">
                     <!---------row----------->
                     <div class="col-lg-4 col-md-12">
                        <!---------col----------->
                        <div class="left_content">
                           <ul class="ul_items tp_one">
                              <li><a href="#about"><span class="linearicons-dna"></span>Apa itu COVID-19?</a></li>
                              <li><a href="#protection"><span class="linearicons-first-aid"></span>Bagaimana cara melindungi diri? </a></li>
                              <li><a href="#prevention"><span class="linearicons-bandages"></span>Bagaimana cara pencegahan virus? </a></li>
                              <li><a href="#contagion"><span class="linearicons-group-work"></span>Bagaimana penyebarannya? </a></li>
                              <li><a href="#symptoms"><span class="linearicons-man-woman"></span>Apa gejala virus COVID-19? </a></li>
                              <li><a href="#faq"><span class="linearicons-bubble-question"></span>FAQ </a></li>
                           </ul>
                        </div>
                        <!---------col-end---------->
                     </div>
                     <div class="col-lg-8 col-md-12 d-flex">
                        <!---------col----------->
                        <div class="about_content">
                           <div class="heading tp_one">
                              <img src="{% static 'image/apaitu.png' %}" class="img-fluid" alt="img"/>
                              <h6>About COVID</h6>
                              <h1>Apa itu COVID-19?</h1>
                           </div>
                           <p>COVID-19 adalah penyakit menular yang disebabkan oleh jenis coronavirus yang baru ditemukan.  Virus baru dan penyakit yang disebabkannya ini tidak dikenal sebelum mulainya wabah di Wuhan, Tiongkok, bulan Desember 2019. COVID-19 ini sekarang menjadi sebuah pandemi yang terjadi di banyak negara di seluruh dunia.                            
                           </p>
                           <p>
                              Gejala-gejala COVID-19 paling umum adalah gejala pernapasan, demam, batuk, sesak napas, dan kesulitan bernapas. Pada kasus yang lebih parah, infeksi dapat menyebabkan pneumonia, sindrom pernapasan akut yang parah, gagal ginjal, dan bahkan kematian.
                           </p>
                          
                     
                        </div>
                        <!---------col-end---------->
                     </div>
                     <!----------row-end---------->
                  </div>
               </div>
            </section>
            <!-----------counter-end-------------->
            <!-----------interactive_map--------------->
            <section class="interactive_map type_one pdt_10  pdb_100 wow fadeIn" data-wow-delay="100ms" data-wow-duration="1500ms">
               <div class="container-fluid">
                  <div class="row">
                     <!---------row----------->
                     <div class="col-lg-12 col-md-12">
                        <!---------col----------->
                        <div class="heading text-center tp_one">
                           <span class="linearicons-earth-lock"></span>
                           <h6> How the coronavirus diseases</h6>
                           <h1>Mapping the Coronavirus Outbreak</h1>
                           <p>Confirmed Cases and Deaths by Country, Territory, or Conveyance. The coronavirus COVID-19 is affecting 200 <br class="md_display_none">countries and territories around the world and 2 international conveyances</p>
                        </div>
                        <!---------col-end---------->
                     </div>
                     <!----------row-end---------->
                  </div>
                  <div class="row">
                     <!---------row----------->
                     <div class="col-md-12">
                        <!---------col----------->
                        <div class="map_box">
                           <img src="{% static 'image/interactive-map.png' %}" class="img-fluid" alt="img" />
                        </div>
                        <div class="pin_marker_outer type_one">
                           <div class="pin">
                              <div class="pin_box">
                                 <h2>Italy</h2>
                                 <p>Confirmed Cases</p>
                                 <h6> 97,689</h6>
                              </div>
                           </div>
                           <div class="pin">
                              <div class="pin_box">
                                 <h2>Italy</h2>
                                 <p>Confirmed Cases</p>
                                 <h6> 97,689</h6>
                              </div>
                           </div>
                           <div class="pin">
                              <div class="pin_box">
                                 <h2>Italy</h2>
                                 <p>Confirmed Cases</p>
                                 <h6> 97,689</h6>
                              </div>
                           </div>
                           <div class="pin">
                              <div class="pin_box">
                                 <h2>Italy</h2>
                                 <p>Confirmed Cases</p>
                                 <h6> 97,689</h6>
                              </div>
                           </div>
                           <div class="pin">
                              <div class="pin_box">
                                 <h2>Italy</h2>
                                 <p>Confirmed Cases</p>
                                 <h6> 97,689</h6>
                              </div>
                           </div>
                           <div class="pin">
                              <div class="pin_box">
                                 <h2>Italy</h2>
                                 <p>Confirmed Cases</p>
                                 <h6> 97,689</h6>
                              </div>
                           </div>
                           <div class="pin">
                              <div class="pin_box">
                                 <h2>Italy</h2>
                                 <p>Confirmed Cases</p>
                                 <h6> 97,689</h6>
                              </div>
                           </div>
                           <div class="pin">
                              <div class="pin_box">
                                 <h2>Italy</h2>
                                 <p>Confirmed Cases</p>
                                 <h6> 97,689</h6>
                              </div>
                           </div>
                        </div>
                        <!---------col-end---------->
                     </div>
                     <!----------row-end---------->
                  </div>
                  <div class="row">
                     <!---------row----------->
                     <div class="col-lg-12 text-center">
                        <a href="https://covid19.go.id/peta-sebaran-covid19" class="theme_btn tp_one">Peta Persebaran </a>
                     </div>
                     <!----------row-end---------->
                  </div>
               </div>
            </section>
            <!-----------interactive_map-end-------------->
            <!-----------symptoms--------------->
            <section class="symptoms type_one pdt_100  pdb_100" id="symptoms">
               <div class="container">
                  <div class="row">
                     <!---------row----------->
                     <div class="col-lg-12 col-md-12">
                        <!---------col----------->
                        <div class="heading text-center tp_one">
                           <h6> Gejala COVID-19</h6>
                           <h1>Apa saja gejala COVID-19?</h1>
                           <p> COVID-19 memiliki gejala yang mirip dengan flu dan demam</p>
                        </div>
                        <!---------col-end---------->
                     </div>
                     <!----------row-end---------->
                  </div>
                  <div class="row">
                     <!---------row----------->
                     <div class="col-lg-12 padding_zero">
                        <div class="owl-carousel four_items">
                           <!---------symptoms_box----------->
                           <div class="symptoms_box type_one wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms">
                              <div class="image_box">
                                 <img src="{% static 'image/symptom/1.png' %}" class="img-fluid" alt="img" />
                              </div>
                              <div class="content_box">
                                 <h2><a href="#">Demam</a></h2>
                                 <p> Fever is a key symptom, experts say. Don't fixate on a number, but know it's really not a fever until your temperature reaches at least 39°C.</p>
                              </div>
                           </div>
                           <!---------symptoms_box-end---------->
                           <!---------symptoms_box----------->
                           <div class="symptoms_box type_one wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                              <div class="image_box">
                                 <img src="{% static 'image/symptom/3.png' %}" class="img-fluid" alt="img" />
                              </div>
                              <div class="content_box">
                                 <h2><a href="#">Batuk</a></h2>
                                 <p> Coughing is another key symptom, but it's not just any cough, said Schaffner. It should be a dry cough that you feel in your chest.</p>
                              </div>
                           </div>
                           <!---------symptoms_box-end---------->
                           <!---------symptoms_box----------->
                           <div class="symptoms_box type_one wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                              <div class="image_box">
                                 <img src="{% static 'image/symptom/4.png' %}" class="img-fluid" alt="img" />
                              </div>
                              <div class="content_box">
                                 <h2><a href="#">Sakit tenggorokan</a></h2>
                                 <p> You feel hot to touch on your chest or back It is a common sign and also may appear in 2-10 days if you affected.</p>
                              </div>
                           </div>
                           <!---------symptoms_box-end---------->
                           <!---------symptoms_box----------->
                           <div class="symptoms_box type_one wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
                              <div class="image_box">
                                 <img src="{% static 'image/symptom/1.png' %}" class="img-fluid" alt="img" />
                              </div>
                              <div class="content_box">
                                 <h2><a href="#">Sakit Kepala</a></h2>
                                 <p> Around 1 out of every 6 people who gets COVID-19 becomes seriously ill and develops difficulty breathing or shortness of breath. </p>
                              </div>
                           </div>
                           <!---------symptoms_box-end---------->
                        </div>
                     </div>
                     <!----------row-end---------->
                  </div>
                  <div class="row">
                     <!---------row----------->
                     <div class="col-lg-12 text-center">
                        <!-- <a href="#" class="theme_btn tp_two"><span class="linearicons-man-woman"></span> See more Symptoms</a> -->
                     </div>
                     <!----------row-end---------->
                  </div>
               </div>
            </section>
            <!-----------symptoms-end-------------->
            <!-----------protect--------------->
            <section class="protect type_one pdt_100  pdb_100 wow fadeIn" data-wow-delay="100ms" data-wow-duration="1500ms" id="protection">
               <div class="container">
                  <div class="row">
                     <!---------row----------->
                     <div class="col-lg-12 col-md-12">
                        <!---------col----------->
                        <div class="heading text-center tp_one">
                           <h6> What you need to do</h6>
                           <h1>Bagaimana cara melindungi diri sendiri?</h1>
                        </div>
                        <!---------col-end---------->
                     </div>
                     <!----------row-end---------->
                  </div>
                  <div class="row">
                     <!---------row----------->
                     <div class="col-lg-6 col-md-12">
                        <!---------col----------->
                        <div class="image_box">
                           <img src="{% static 'image/protect-1-1.png' %}" class="img-fluid" alt="img" />
                        </div>
                        <!---------col-end---------->
                     </div>
                     <div class="col-lg-6 col-md-12 d-flex">
                        <!---------col----------->
                        <div class="protect_outer">
                           <div class="row">
                              <div class="col-lg-6 col-md-12">
                                 <!---------col----------->
                                 <div class="protect_box type_one">
                                    <div class="upper_box">
                                       <span class="linearicons-checkmark-circle"></span>
                                       <div class="text_title">
                                          <h2>Hal yang harus kamu lakukan</h2>
                                          <p> Pastikan kamu mengikutinya </p>
                                       </div>
                                    </div>
                                    <div class="lower_box">
                                       <ul>
                                          <li>Stay at home</li>
                                          <li>Gunakan masker</li>
                                          <li>Rajin mencuci tangan</li>
                                          <li>Lakukan self-isolation</li>
                                          <li>Banyak minum air putih</li>
                                       </ul>
                                    </div>
                                 </div>
                                 <!---------col-end---------->
                              </div>
                              <div class="col-lg-6 col-md-12">
                                 <!---------col----------->
                                 <div class="protect_box type_one right">
                                    <div class="upper_box">
                                       <span class="linearicons-cross-circle"></span>
                                       <div class="text_title">
                                          <h2>Hal yang harus kamu hindari</h2>
                                          <p>Pastikan kamu menghindarinya</p>
                                       </div>
                                    </div>
                                    <div class="lower_box">
                                       <ul>
                                          <li>Tidak melakukan pembatasan sosial</li>
                                          <li>Tidak menjaga kesehatan</li>
                                          <li>Tidak menggunakan masker</li>
                                          <li>Tidak rajin mencuci tangan</li>
                                          <li>Melanggar protokol kesehatan</li>
                                       </ul>
                                    </div>
                                 </div>
                                 <!---------col-end---------->
                              </div>
                              <!---------col-end---------->
                           </div>
                           <div class="row">
                              <!---------row---------->
                              <div class="col-lg-12">
                                 <!---------col-end---------->
                                 
                                 <!---------col-end---------->
                              </div>
                              <!---------row-end---------->
                           </div>
                        </div>
                        <!---------col-end---------->
                     </div>
                     <!----------row-end---------->
                  </div>
               </div>
            </section>
            <!-----------protect-end-------------->

            <!-----------prevention--------------->
            <section class="prevention type_one pdt_0  pdb_100" id="prevention">
               <div class="container">
                  <div class="row">
                     <!---------row----------->
                     <div class="col-lg-12 col-md-12">
                        <!---------col----------->
                        <div class="heading text-center tp_one">
                           <h6> What should you do </h6>
                           <h1>Pencegahan</h1>
                        </div>
                        <!---------col-end---------->
                     </div>
                     <!----------row-end---------->
                  </div>
                  <div class="row">
                     <!---------row----------->
                     <div class="col-lg-12 col-md-12 padding_zero">
                        <!---------col----------->
                        <div class="owl-carousel four_items">
                           <!---------prevention_box----------->
                           <div class="prevention_box type_one  wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms">
                              <div class="image_box">
                                 <img src="{% static 'image/prevent/prevent-4.png' %}" class="img-fluid" alt="img" />
                              </div>
                              <div class="content_box">
                                 <h2><a href="#">Gunakan masker</a></h2>
                                 <p>Jangan lupa selalu gunakan masker ketika berpergian dan berinteraksi dengan orang lain.</p>
                                 <!-- <a href="#" class="read_more tp_one"> Know more  <span class="linearicons-arrow-right"></span></a> -->
                              </div>
                           </div>
                           <!---------prevention_box-end---------->
                           <!---------prevention_box----------->
                           <div class="prevention_box type_one wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                              <div class="image_box">
                                 <img src="{% static 'image/prevent/prevent-2.png' %}" class="img-fluid" alt="img" />
                              </div>
                              <div class="content_box">
                                 <h2><a href="#">Rajin mencuci tangan</a></h2>
                                 <p>Seringlah mencuci tangan dengan sabun atau gunakan hand sanitizer.</p>
                                 <!-- <a href="#" class="read_more tp_one"> Know more  <span class="linearicons-arrow-right"></span></a> -->
                              </div>
                           </div>
                           <!---------prevention_box-end---------->
                           <!---------prevention_box----------->
                           <div class="prevention_box type_one wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                              <div class="image_box">
                                 <img src="{% static 'image/prevent/prevent-3.png' %}" class="img-fluid" alt="img" />
                              </div>
                              <div class="content_box">
                                 <h2><a href="#">Lakukan Social Distancing</a></h2>
                                 <p>Jangan lupa selalu menjaga jarak ketika berada di tempat umum.</p>
                                 <!-- <a href="#" class="read_more tp_one"> Know more  <span class="linearicons-arrow-right"></span></a> -->
                              </div>
                           </div>
                           <!---------prevention_box-end---------->
                           <!---------prevention_box----------->
                           <div class="prevention_box type_one wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms">
                              <div class="image_box">
                                 <img src="{% static 'image/prevent/prevent-1.png' %}" class="img-fluid" alt="img" />
                              </div>
                              <div class="content_box">
                                 <h2><a href="#">Stay at home</a></h2>
                                 <p>Jika tidak memiliki kepentingan, lebih baik di rumah saja.</p>
                                 <!-- <a href="#" class="read_more tp_one"> Know more  <span class="linearicons-arrow-right"></span></a> -->
                              </div>
                           </div>
                           <!---------prevention_box-end---------->
                        </div>
                        <!---------col-end---------->
                     </div>
                     <!----------row-end---------->
                  </div>
               </div>
            </section>
            <!-----------prevention-end-------------->
            <!-----------handwash--------------->
            <section class="handwash type_one pdt_0  pdb_90 wow fadeIn" data-wow-delay="100ms" data-wow-duration="1500ms">
               <div class="container">
                  <div class="row">
                     <!---------row----------->
                     <div class="col-lg-12 col-md-12">
                        <!---------col----------->
                        <div class="heading text-center tp_one">
                           <h6>Hand washing Process</h6>
                           <h1> Panduan Mencuci Tangan </h1>
                           <p> Apakah kalian telah mencuci tangan dengan benar?</p>
                        </div>
                        <!---------col-end---------->
                     </div>
                     <!----------row-end---------->
                  </div>
                  <div class="row">
                     <!---------row----------->
                     <div class="col-lg-12 col-md-12 padding_zero">
                        <!---------col----------->
                        <div class="owl-carousel six_items">
                           <!---------handwash_box----------->
                           <div class="handwash_box type_one">
                              <div class="image_box">
                                 <img src="{% static 'image/cucitangan/cuci1.png' %}" class="img-fluid" alt="img" />
                              </div>
                              <small>1</small>
                              <div class="content_box">
                                 <h2><a href="#">Sabun dan air</a></h2>
                              </div>
                           </div>
                           <!---------handwash_box-end---------->
                           <!---------handwash_box----------->
                           <div class="handwash_box type_one">
                              <div class="image_box">
                                 <img src="{% static 'image/cucitangan/cuci2.png' %}" class="img-fluid" alt="img" />
                              </div>
                              <small>2</small>
                              <div class="content_box">
                                 <h2><a href="#">Basuh telapak tangan</a></h2>
                              </div>
                           </div>
                           <!---------handwash_box-end---------->
                           <!---------handwash_box----------->
                           <div class="handwash_box type_one">
                              <div class="image_box">
                                 <img src="{% static 'image/cucitangan/cuci3.png' %}" class="img-fluid" alt="img" />
                              </div>
                              <small>3</small>
                              <div class="content_box">
                                 <h2><a href="#">Basuh sela antara jari</a></h2>
                              </div>
                           </div>
                           <!---------handwash_box-end---------->
                           <!---------handwash_box----------->
                           <div class="handwash_box type_one">
                              <div class="image_box">
                                 <img src="{% static 'image/cucitangan/cuci4.png' %}" class="img-fluid" alt="img" />
                              </div>
                              <div class="content_box">
                                 <small>4</small>
                                 <h2><a href="#">Basuh ibu jari</a></h2>
                              </div>
                           </div>
                           <!---------handwash_box-end---------->
                           <!---------handwash_box----------->
                           <div class="handwash_box type_one">
                              <div class="image_box">
                                 <img src="{% static 'image/cucitangan/cuci5.png' %}" class="img-fluid" alt="img" />
                              </div>
                              <small>5</small>
                              <div class="content_box">
                                 <h2><a href="#">Basuh punggung tangan</a></h2>
                              </div>
                           </div>
                           <!---------handwash_box-end---------->
                           <!---------handwash_box----------->
                           <div class="handwash_box type_one">
                              <div class="image_box">
                                 <img src="{% static 'image/cucitangan/cuci3.png' %}" class="img-fluid" alt="img" />
                              </div>
                              <small>6</small>
                              <div class="content_box">
                                 <h2><a href="#">Basuh pergelangan tangan</a></h2>
                              </div>
                           </div>
                           <!---------handwash_box-end---------->
                        </div>
                        <!---------col-end---------->
                     </div>
                     <!----------row-end---------->
                  </div>
               </div>
            </section>
            <!-----------handwash-end-------------->
            <!-----------spreading--------------->
            <section class="spreading type_one pdt_100  pdb_60" id="contagion">
               <div class="container">
                  <div class="row">
                     <!---------row----------->
                     <div class="col-lg-12 col-md-12">
                        <!---------col----------->
                        <div class="heading text-center tp_one">
                           <h6>How Coronavirus spread?</h6>
                           <h1> Penyebaran Coronavirus </h1>
      
                        </div>
                        <!---------col-end---------->
                     </div>
                     <!----------row-end---------->
                  </div>
                  <div class="row">
                     <!---------row----------->
                     <div class="col-lg-6 col-md-12">
                        <!---------col----------->
                        <div class="spreading_box type_one wow fadeIn" data-wow-delay="100ms" data-wow-duration="1500ms">
                           <div class="image_box">
                              <img src="{% static 'image/contagion/spreading1.png' %}" class="img-fluid" alt="img" />
                           </div>
                           <div class="content_box">
                              <h2><a href="#">Melalui Udara</a></h2>
                              <p>Setelah mendapat kritikan dari ratusan ilmuwan terkait penyebaran virus Corona melalui udara, akhirnya WHO pun mengakuinya. Organisasi tersebut mengakui adanya bukti bahwa virus Corona itu bisa menyebar melalui partikel-partikel kecil yang melayang di udara.</p>
                           </div>
                        </div>
                        <!---------col-end---------->
                     </div>
                     <div class="col-lg-6 col-md-12">
                        <!---------col----------->
                        <div class="spreading_box type_one wow fadeIn" data-wow-delay="200ms" data-wow-duration="1500ms">
                           <div class="image_box">
                              <img src="{% static 'image/contagion/spreading1.png' %}" class="img-fluid" alt="img" />
                           </div>
                           <div class="content_box">
                              <h2><a href="#">Kontak dengan Hewan </a></h2>
                              <p>Melakukan kontak dengan hewan yang terinfeksi COVID-19 dapat membuat seseorang tertular.</p>
                           </div>
                        </div>
                        <!---------col-end---------->
                     </div>
                     <div class="col-lg-6 col-md-12">
                        <!---------col----------->
                        <div class="spreading_box type_one wow fadeIn" data-wow-delay="300ms" data-wow-duration="1500ms">
                           <div class="image_box">
                              <img src="{% static 'image/contagion/spreading3.png' %}" class="img-fluid" alt="img" />
                           </div>
                           <div class="content_box">
                              <h2><a href="#">Kontak Personal</a></h2>
                              <p>Tidak mematuhi protokol kesehatan dan social distancing dapat membuat seseorang beresiko tertular.</p>
                           </div>
                        </div>
                        <!---------col-end---------->
                     </div>
                     <div class="col-lg-6 col-md-12">
                        <!---------col----------->
                        <div class="spreading_box type_one wow fadeIn" data-wow-delay="400ms" data-wow-duration="1500ms">
                           <div class="image_box">
                              <img src="{% static 'image/contagion/spreading4.png' %}" class="img-fluid" alt="img" />
                           </div>
                           <div class="content_box">
                              <h2><a href="#">Limbah Manusia</a></h2>
                              <p>Sebuah studi menunjukkan bahwa partikel virus Corona ditemukan juga pada fecal-oral orang yang terinfeksi, seperti urine dan feses. Namun WHO mengatakan hingga saat ini masih belum ada laporan yang dipublikasi terkait cara penularan virus Corona melalui cara ini dan bukan menjadi upaya transmisi utama virus.
                                 <br>
                                 Dalam laman resmi WHO, selain melalui fecal-oral tersebut, penyebaran virus Corona juga bisa terjadi melalui darah, dari ibu ke anak, hingga dari hewan ke manusia.</p>
                           </div>
                        </div>
                        <!---------col-end---------->
                     </div>
                     <div class="col-lg-6 col-md-12">
                        <!---------col----------->
                        <div class="spreading_box type_one wow fadeIn" data-wow-delay="400ms" data-wow-duration="1500ms">
                           <div class="image_box">
                              <img src="{% static 'image/contagion/spreading5.png' %}" class="img-fluid" alt="img" />
                           </div>
                           <div class="content_box">
                              <h2><a href="#"> Melalui Droplet  </a></h2>
                              <p>Penularan virus Corona bisa terjadi melalui droplet saat seseorang batuk, bersin, bernyanyi, berbicara, hingga bernapas. Saat melakukan hal-hal tersebut, udara yang keluar dari hidung dan mulut mengeluarkan partikel kecil atau aerosol dalam jarak dekat</p>
                           </div>
                        </div>
                        <!---------col-end---------->
                     </div>
                     <div class="col-lg-6 col-md-12">
                        <!---------col----------->
                        <div class="spreading_box type_one wow fadeIn" data-wow-delay="600ms" data-wow-duration="1500ms">
                           <div class="image_box">
                              <img src="{% static 'image/contagion/spreading6.png' %}" class="img-fluid" alt="img" />
                           </div>
                           <div class="content_box">
                              <h2><a href="#">Menyentuh Permukaan yang Terkontaminasi</a></h2>
                              <p>Cara penularan virus Corona ini terjadi saat seseorang menyentuh permukaan yang mungkin telah terkontaminasi virus dari orang yang batuk atau bersin. Lalu virus itu berpindah ke hidung, mulut, atau mata yang disentuh setelah menyentuh permukaan yang terkontaminasi tersebut.</p>
                           </div>
                        </div>
                        <!---------col-end---------->
                     </div>
                     <!----------row-end---------->
                  </div>
               </div>
            </section>
            <!-----------spreading-end-------------->

            <!-----------faq--------------->
            <section class="faq type_one faq_tabs pdt_100  pdb_100 wow fadeIn" data-wow-delay="400ms" data-wow-duration="1500ms" id="faq">
               <div class="container">
                  <div class="row">
                     <!---------row----------->
                     <div class="col-lg-6 col-md-12">
                        <!---------col----------->
                        <div class="heading tp_one">
                           <h6>Have questions? Find answers!</h6>
                           <h1>Frequently Asked Questions</h1>
                        </div>
                        <!---------col-end---------->
                     </div>
            
                  </div>
                  <div class="row">
                     <!---------row----------->
                     <div class="col-lg-4 col-md-12">
                        <!---------col----------->
                        <div id="accordion" class="accordion_box faq_tabs_btn">
                           <!-------accordin------>
                           <div class="card faqs_card_tpone">
                              <!-------card-start----->
                              <div class="card-header" id="headingOne">
                                 <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Physical Distancing
                                    </button>
                                 </h5>
                              </div>
                              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                 <div class="card-body">
                                    <ul>
                                       <li class="f_tabs_btn" data-tab="#f_tab_1">Apa itu physical distancing?</li>
                                       <li class="f_tabs_btn" data-tab="#f_tab_2">Bagaimana cara melakukan physical distancing?</li>
                                    </ul>
                                 </div>
                              </div>
                              <!-------card-end----->
                           </div>
                           <div class="card faqs_card_tpone">
                              <!-------card-start----->
                              <div class="card-header" id="headingTwo">
                                 <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Seputar Rapid Test
                                    </button>
                                 </h5>
                              </div>
                              <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
                                 <div class="card-body">
                                    <ul>
                                       <li class="f_tabs_btn" data-tab="#rapid_tab_1">Apa itu Rapid Test?</li>
                                       <li class="f_tabs_btn" data-tab="#rapid_tab_2">Bagaimana Rapid Test dilakukan di Indonesia?</li>
                                       <li class="f_tabs_btn  active-btn" data-tab="#rapid_tab_3">Bagaimana Rapid Test bekerja?</li>
                                       <li class="f_tabs_btn" data-tab="#rapid_tab_4">Apa yang harus dilakukan setelah mendapatkan rapid test?</li>
                                    </ul>
                                 </div>
                              </div>
                              <!-------card-end----->
                           </div>
                           
                           <div class="card faqs_card_tpone">
                              <!-------card-start----->
                              <div class="card-header" id="headingThree">
                                 <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Situasi COVID-19 terkini di Indonesia
                                    </button>
                                 </h5>
                              </div>
                              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                 <div class="card-body">
                                    <ul>
                                       <li class="f_tabs_btn" data-tab="#situasi_tab_1">Situasi terkini</li>
                                    </ul>
                                 </div>
                              </div>
                              <!-------card-end----->
                           </div>
                           
                           
                           
                           <!-------accordin-end----->
                        </div>
                        <!---------col-end---------->
                     </div>
                     <div class="col-lg-8 col-md-12">
                        <!--------col----------->
                        <div class="f_tab_wrapper">
                           <!--Tabs Content-->
                           <div class="f_tabs_content">
                              <!--project Tab / Active Tab-->
                              <div class="f_tab" id="f_tab_1">
                                 <div class="faq_content_box">
                                    <h2> Apa itu physical distancing? </h2>
                                    <p> Physical distancing adalah upaya yang dilakukan untuk mencegah penyebaran virus corona di masyarakat. Secara sederhana Physical Distancing adalah menjaga jarak lebih dari 1 meter dengan siapapun. Dengan kata lain: Tidak Berdekatan dan Tidak Berkumpul. </p>
                                       
                                    <p>
                                        Dengan menerapkan Physial Distancing penyebaran virus dapat dicegah. Ingat, virus tidak bergerak sendiri tapi oranglah yang membawanya ke mana-mana.
                                    </p>

                                    <p> Sumber: covid19.go.id</p>
                                 </div>
                              </div>
                              <!--project Tab / Active Tab end-->
                              <!--project Tab / Active Tab-->
                              <div class="f_tab" id="f_tab_2">
                                 <div class="faq_content_box">
                                    <h2>Bagaimana cara melakukan physical distancing?</h2>
                                    <p> 1. Kita harus tetap berada di rumah sesuai panduan pemerintah. <br>
                                        2. Bekerja, belajar dan beribadah di rumah. <br>
                                        3. Keluar hanya untuk belanja hal yang penting atau pengobatan Itu pun seminimal mungkin. <br> Gunakan masker kain saat di luar rumah. <br>
                                        4. Dilarang berdekatan. Selalu menjaga jarak lebih dari 1 meter dengan orang lain. <br>
                                        5. Sebisa mungkin hindari penggunaan kendaraan umum. <br>
                                        6. Tunda atau batalkan acara keluarga atau teman, saling mengunjungi atau silaturahmi tatap muka ganti dengan komunikasi via telephon, internet, media sosial atau aplikasi komunikasi. <br>
                                        7. Tunda atau batalkan kegiatan pertemuan, konser musik, pertandingan olahraga, kegiatan keagamaan atau kegiatan lain yang mengundang orang banyak. <br>
                                        8. Gunakan telepon atau layanan online untuk menghubungi dokter atau fasilitas lainnnya. <br>
                                        9. Kalau kamu mengalami demam, merasa lelah dan batuk kering, lakukan isolasi diri. <br>
                                    </p>

                                    <p> Sumber: covid19.go.id</p>
                                    
                                 </div>
                              </div>
                              <!--project Tab / Active Tab end-->
                              <!--project Tab / Active Tab-->

                              <div class="f_tab  active-tab" id="situasi_tab_1">
                                 <div class="faq_content_box">
                                    <h2>Situasi COVID-19 terkini di Indonesia</h2>
                                    <p> 
                                       <br>Untuk info peta sebaran kasus COVID-19 bisa klik tautan berikut <a href="https://covid19.go.id/peta-sebaran"> disini</a>
                                       <br>Untuk info peta zonasi risiko daerah bisa klik tautan berikut<a href="https://covid19.go.id/peta-risiko"> disini</a> 
                                       <br>Untuk info pemantauan kasus COVID-19 WNA bisa klik tautan berikut <a href=" https://covid19.go.id/kasus-wna"> disini</a>  
                                    </p>
                                 </div>
                              </div>

                              <div class="f_tab  active-tab" id="rapid_tab_1">
                                 <div class="faq_content_box">
                                    <h2>Apa itu Rapid Test?</h2>
                                    <p> Rapid Test atau tes cepat COVID-19 bertujuan untuk mendeteksi kasus secara dini sehingga pemerintah dapat menyusun dan melakukan tindakan yang tepat untuk menghentikan penyebaran virus corona.
                                        <br>
                                        Tidak semua orang perlu mengikuti Rapid Test atau tes cepat. Hanya mereka yang direkomendasikan oleh petugas kesehatan yang perlu menjalaninya.
                                    </p>
                                 </div>
                              </div>

                              <div class="f_tab  active-tab" id="rapid_tab_2">
                                <div class="faq_content_box">
                                   <h2>Bagaimana Rapid Test dilakukan di Indonesia?</h2>
                                   <p> Saat ini pemerintah melaksanakan kebijakan Rapid Test atau tes cepat. Rapid test dilakukan dengan mengambil tetes darah untuk melihat antibodi. Dengan dilakukannya Rapid Test di banyak daerah, akan ada lonjakan kasus positif. Mengetahui kasus positif penting bagi pemerintah untuk mengambil tindakan tepat dalam penanganan wabah COVID-19. 
                                    <br>
                                    Tidak ada aktivitas mobilisasi massa untuk pemeriksaan.
                                    <br>
                                    Petugas akan mendatangi rumah ke rumah menelusuri riwayat kontak erat seseorang.
                                   </p>
                                </div>
                             </div>

                             <div class="f_tab  active-tab" id="rapid_tab_3">
                                <div class="faq_content_box">
                                   <h2>Bagaimana Rapid Test bekerja?</h2>
                                   <p> Hasil Rapid Test dapat diperoleh dengan cepat, yaitu 2-15 menit. </p>
                                    
                                   <p>Perlu diingat:
                                    
                                    <br>
                                    Antibodi baru dihasilkan tubuh antara 8-10 hari setelah timbul gejala sehingga tetap ada kemungkinan hasil negatif yang keliru
                                    Hasil positif bisa terjadi karena infeksi lain, seperti demam berdarah, sehingga tetap ada kemungkinan hasil positif yang keliru
                                   </p>
                                </div>
                             </div>


                             <div class="f_tab  active-tab" id="rapid_tab_4">
                                <div class="faq_content_box">
                                   <h2>Apa yang harus dilakukan setelah mendapat hasil Rapid Test??</h2>
                                   <p> 
                                    Hasil positif harus dikonfirmasi dengan pemeriksaan Laboratorium di Rumah Sakit Rujukan.

                                    Hasil negatif harus diulang pada hari ke-10. Sementara menunggu, orang harus isolasi diri selama 14 hari. 
                                    <br> Jika muncul demam tinggi dan sesak napas maka segera ke Rumah Sakit rujukan.
                                   </p>
                                </div>
                             </div>
                              <!--project Tab / Active Tab end-->
                              <!--project Tab / Active Tab-->
                              <div class="f_tab" id="f_tab_4">
                                 <div class="faq_content_box">
                                    <h2>How is the virus spread?</h2>
                                    <p> The first symptoms of COVID-19 and influenza (flu) infections are often very similar. They both cause fever and similar respiratory symptoms, which can then range from mild through to severe disease, and sometimes
                                       can be fatal.
                                    </p>
                                    <p>Both viruses are also transmitted in the same way, by coughing or sneezing, or by contact with hands, surfaces or objects contaminated with the virus. As a result, the same public health measures, such as hand
                                       hygiene (hand washing), good respiratory etiquette (coughing into your elbow or into a tissue and immediately disposing of the tissue) and good household cleaning are important actions to prevent both infections.
                                    </p>
                                    <p>The speed of transmission is an important difference between the two viruses. Influenza typically has a shorter incubation period (the time from infection to appearance of symptoms) than COVID-19. This means
                                       that influenza can spread faster than COVID-19.
                                    </p>
                                    <p>While the range of symptoms for the two viruses is similar, the fraction with severe disease appears to be higher for COVID-19. While most people have mild symptoms, approximately 15% of people have severe infections
                                       and 5% require intensive care in a hospital ICU. The proportions of severe and critical COVID-19 infections are higher than for influenza infections.
                                    </p>
                                 </div>
                              </div>
                              <!--project Tab / Active Tab end-->
                              <!--project Tab / Active Tab-->
                              <div class="f_tab" id="f_tab_5">
                                 <div class="faq_content_box">
                                    <h2> What are the symptoms?</h2>
                                    <p> The first symptoms of COVID-19 and influenza (flu) infections are often very similar. They both cause fever and similar respiratory symptoms, which can then range from mild through to severe disease, and sometimes
                                       can be fatal.
                                    </p>
                                    <p>Both viruses are also transmitted in the same way, by coughing or sneezing, or by contact with hands, surfaces or objects contaminated with the virus. As a result, the same public health measures, such as hand
                                       hygiene (hand washing), good respiratory etiquette (coughing into your elbow or into a tissue and immediately disposing of the tissue) and good household cleaning are important actions to prevent both infections.
                                    </p>
                                    <p>The speed of transmission is an important difference between the two viruses. Influenza typically has a shorter incubation period (the time from infection to appearance of symptoms) than COVID-19. This means
                                       that influenza can spread faster than COVID-19.
                                    </p>
                                    <p>While the range of symptoms for the two viruses is similar, the fraction with severe disease appears to be higher for COVID-19. While most people have mild symptoms, approximately 15% of people have severe infections
                                       and 5% require intensive care in a hospital ICU. The proportions of severe and critical COVID-19 infections are higher than for influenza infections.
                                    </p>
                                 </div>
                              </div>
                              <!--project Tab / Active Tab end-->
                           </div>
                           <!--Tabs Content-->
                        </div>
                        <!--------col-end------->
                     </div>
                     <!----------row-end---------->
                  </div>
               </div>
            </section>
            <!-----------faq-end-------------->
           

         <!-----------footer--------------->
 <section class="footer type_one  pdb_70 pdt_100" id="contactus">
    <div class="container">
       <div class="row">
          <!---------row----------->
          <div class="col-lg-6 col-md-12">
             <!---------col----------->
             <div class="footer_widgets left type_one">
                <div class="widgets_title">
                   <h1 class="title">Get in touch</h1>
                   <p> If you need answers to your question, feel free to use our contact form below<br class="md_display_none"> and our experts will get back to you immediatly</p>
                </div>
                <div class="form_box type_one">
                    <form method='POST' action="{% url 'landingpage:index' %}">
                    {% csrf_token %}
                  
                      <div class="row">
                         <div class="col-lg-6">
                            <div class="form-group">
                               {{ form }}
                               <br>
                               <br>
                               <button class="submit_btn" type="submit">Submit</button>
                     
                            </div>
                         </div>

                         <div class="col-lg-4">
                           <h4 class="mt-5 text-center font-weight-bold">Jumlah input yang telah masuk: {{jumlah_input}}</h3>                         
                         </div>

                      </div>
                   </form>
                </div>
             </div>
             <!---------col-end---------->
          </div>

          <div class="col-lg-6 col-md-12">
            <!---------col----------->
            <div class="footer_widgets right type_one">
               <div class="widgets_title">
                  <h1 class="title">Contact us</h1>
               </div>
               <div class="emergency_phone">
                  <h6>Emergency Hotline</h6>
                  <h2> 119</h2>
               </div>
               <ul class="contact_all">
                  <h6> Other Hotlines </h6> <br>
                  <li><a href="#"><span class="linearicons-telephone"></span>Bansos Kementrian Sosial: <small>157</small></a></li>
                  <li><a href="#"><span class="linearicons-telephone"></span>PKH Kementrial Sosial: <small>1500299</small></a></li>
                  <li><a href="#"><span class="linearicons-telephone"></span>Kemenparekraf: <small>0811-8956-767</small></a></li>
                  <li><a href="#"><span class="linearicons-telephone"></span>Fungsi Relawan Desa: <small>1500040</small></a></li>
                  <li><a href="#"><span class="linearicons-telephone"></span>Ombudsman Pusat: <small>0811-919-3737</small></a></li>
                  <li><a href="#"><span class="linearicons-telephone"></span>Kartu Prakerja: <small>021-25541246</small></a></li>
               
               </ul>
            </div>
            <!---------col-end---------->
         </div>
         <!----------row-end---------->
      </div>
      </div>
   </div>
</section>
<!-----------footer-end-------------->

           
            <!------main-content-end----->
         </main>
         <!--page_wapper-end---->
      </div>
      <!--Scroll to top-->
      <a href="# " id="scroll" class="default-bg " style="display: inline;"><span class="fa fa-angle-up "></span></a>
      
      </div>

      {% endblock %}
        
   </body>
</html>

