
.font_badan{
    font-size: 14;

}

.gradasi{
    font-size: 48px;
    font-weight:1000;
    background: -webkit-linear-gradient(#7977B4,#9B98FF,#48D9CA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.card {
    background-color:rgba(72, 217, 202, 0.4);
    
}
.card-text{
    font-size: 14;
}
.bg_hijau{
    background-color:rgba(72, 217, 202, 0.7);
}
.btn-grad {background-image: linear-gradient(to right, #24C6DC 0%, #7977B4  51%, #24C6DC  100%)}
.btn-grad {
   margin: 10px;
   padding: 10px 30px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

