<!DOCTYPE html>
{% load static %}
<html lang="en">
   <head>
      <meta charset="utf-8">

      <!-- Responsive -->
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
      <title>Epicmed</title>
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
      <!---------favicon--------------->
      <link rel="icon" type="image/png" href="{% static 'image/favicon-32x32.png' %}" sizes="32x32">
      <link rel="icon" type="image/png" href="{% static 'image/favicon-16x16.png' %}" sizes="16x16">
      <!---------favicon--------------->
      <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css"> 
   </head>

   <body class="scroll_bar_style_one">

   <header class="header_v1">
      <!--Header-v1--->
      <section class="navbar_outer">
         <div class="navbar navbar-expand-lg  bsnav bsnav-sticky bsnav-sticky-slide">
            <div class="container">
               <a class="navbar-brand" href="{% url 'landingpage:index' %}"><img src="{% static 'image/epicmed.png' %}" class="img-fluid" alt="img"></a>
               <button class="navbar-toggler toggler-spring"><span class="navbar-toggler-icon"></span></button>
               <div class="collapse navbar-collapse scroll-nav" id="navbarnav">
                  <ul class="navbar-nav navbar-mobile navbar_left  ml-auto">
                     <li class="nav-item"><a class="nav-link link_hd" href="{% url 'landingpage:index' %}">Home </a></li>
                     <li class="nav-item"><a class="nav-link link_hd" href="{% url 'kisahCovid:kisahcovid' %}">Kisah Covid</a></li>
                     <li class="nav-item"><a class="nav-link link_hd" href="{% url 'main:feedback' %}">Feedback</a> </li>
                     <li class="nav-item"><a class="nav-link link_hd" href="{% url 'Vol:home' %}">Volunteer</a> </li>
                     <li class="nav-item"><a class="nav-link link_hd" href="{% url 'Donasi:donasi' %}">Donasi</a> </li>
                  </ul>
                  
                  <!-- <ul class="navbar-nav navbar-mobile navbar_right">
                     <li><a class="theme_btn tp_one" href="#contactus">Hotline</a></li>
                  </ul> -->
                  
               </div>
            </div>
         </div>
         <!--Header-v1-end-->
      </section>
   </header>
   <!--Header-->

   {% block content %}
   {% endblock %}
   <!-----------footerlast UNWELL?--------------->
   <section class="footerlast type_one  pdb_80 pdt_80">
      <div class="container">
         <div class="row">
            <!---------row----------->
            <div class="col-lg-12 col-md-12  text-center">
               <!---------col----------->
               <div class="footer_last_box">
                  <div class="logo_footer">
                     <img src="{% static 'image/epicmed.png' %}" class="img-fluid" alt="img" />
                  </div>
                  <ul>
                     <li style="color:white;">© Copyright 2020 Team Semangat PPW</li>
                  <p  class="side-menu__block__text site-footer__copy-text">Developed with <span class="linearicons-heart"></span> by<small><a href="#"> Semangat PPW </a></small></p>
               </div>
               <!---------col-end---------->
            </div>
            <!----------row-end---------->
         </div>
      </div>
   </section>


   <!-----------------------------------script--------------------------->
   <script src="../static/js/all.js"></script> 
   <script src="../static/js/custom.js"></script>
   <script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>
</body>

</html>