{% extends 'base.html' %}
{% load static %}

<html> 
  {% block content %}
  <head>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=DM Sans'>
  </head>
  <body>
    <br>
    <br>
    <h1>
      <div class="mt-5 text-center font-weight-bold mb-4">
        <span class="gradasi">Feedback Tentang Website Kami</span>
      </div>
    </h1>
    <br>
    <div class="container bg_hijau rounded">
        <br>
        <div>
          <form action="" id ="form" method="POST">
            {% csrf_token %}
            {{ formulir }}
            <input type = "submit" class="btn btn-grad my-5" value="Submit"> 
          </form>
        </div>
        <br>
    </div>
    <h3 class="mt-5 text-center font-weight-bold">Jumlah Feedback yang telah masuk:
    <span class="gradasi">{{jumlah_feedback}}</span></h3>
    <br>
    <br>

  </body>
  {% endblock content %}
</html>