{% extends 'base.html' %}
{% load static %}


{% block content %}
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<style>
  .card{
    background-color: #ededed;
    color: black;
  }

  #card{
    background-color: #ededed;
    color: black;
    transition: transform 0.01s;
  }

  #card:hover{
    transform: scale(1.01);
  }

  #table{
    color: black;
  }

  h1 {
    padding-top: 100px;
    font-size: 48px;
    font-weight: 1000;
    background: linear-gradient(90deg, rgba(121,119,180,1) 0%, rgba(155,152,255,1) 38%, rgba(72,217,202,1) 84%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 52px;
  }

.btn-grad {background-image: linear-gradient(to right, #24C6DC 0%, #7977B4  51%, #24C6DC  100%)}
.btn-grad {
   margin: 10px;
   padding: 10px 30px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
  
</style>
</head>
<h1 class="text-center mb-5" >Volunteer</h1>

<div class="container">
  <div class="row">
    
    {% for rs in rumahsakit %}
    <div class="col mb-4 ml-4">
      <div class="card p-0 shadow rounded" id="card" style="width: 18rem; border: solid 2px #48d9ca;">
        <img src="{{rs.gambar.url}}" class="card-img-top" alt="{{rs.nama_Rumah_Sakit}}" style="height: 11rem;">
        <div class="card-body">
          <h5 class="card-title text-center mt-0 mb-0" id="card-title">{{rs.nama_Rumah_Sakit}}</h5>
          <table class="table table-borderless mt-1 mb-1" id="table">
            <tbody>
              <tr>
                <th scope="row" class="pt-1"><i class="fa fa-map-marker" aria-hidden="true"></i></th>
                <td class="pt-1">{{rs.alamat}}</td>
              </tr>
              <tr>
                <th scope="row" class="pt-1"><i class="fa fa-phone" aria-hidden="true"></i></th>
                <td class="pt-1">{{rs.telepon}}</td>
              </tr>      
              <tr>
                <th scope="row" class="pt-1"><i class="fa fa-user" aria-hidden="true"></i></th>
                <td class="pt-1">{{rs.volunteer.all|length}} Volunteer</td>
              </tr>
            </tbody>
          </table>
          <div class="text-center">
            <a href="{{rs.absolute_url}}" class="btn btn-primary text-center">Daftar Volunteer</a>
          </div>
        </div>
      </div>
    </div>  
    {% endfor %}
  </div>
  <div class="d-flex justify-content-center">
    <a href="{% url 'Vol:rumahsakit' %}" class="btn btn-grad my-5">Tambah Rumah Sakit</a> 
    <br>
    <br>
  </div>
</div>

<!-- script buat bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
{% endblock content %}
