{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<style>
    h1 {
        padding-top: 100px;
        font-size: 48px;
        font-weight: 1000;
        background: linear-gradient(90deg, rgba(121,119,180,1) 20%, rgba(155,152,255,1) 38%, rgba(72,217,202,1) 84%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        line-height: 52px;
  }

</style>
</head>
<h1 class="text-center mb-3">Tambah Rumah Sakit</h1>
    <div class="container p-3 mt-5 mb-5" style="background-color: #48d9ca; color: white;">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="row">
                <div class="col-auto">
                    <input class="btn btn-primary" type="submit" value="Tambah">
                </div>
                <div class="col w-100">
                    <a href="{% url 'Vol:home' %}" class="btn btn-danger">Kembali</a>
                </div>
            </div>
        </form>
    </div>
<!-- script buat bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
{% endblock content %}